.admin-nav {
  display: flex;
  justify-content: space-around;
}

.admin-nav button {
  line-height: 4.4rem;
  height: 4.4rem;
  padding: 0 1.7rem;
  border: 0;
  margin: 1rem 0;
  background: #10bbd5;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 0.6rem;
  min-width: 14rem;
  cursor: pointer;
  font-weight: bold;
  box-shadow: none;
  font-size: 2rem;
}
